<div class="modal-header">
	<h5 class="modal-title" id="supplierModalLabel">Poids(Kg) et validation</h5>
	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<form action='{{path('app_volunteer_planning_line_valid_validate',{'id':pLine.id})}}' method="post">
	<div id='modal-body' class="modal-body p-0 m-0">

		<div class='row'>
			<div class='col-12 mb-3'>
				{% for removal in pLine.removals %}
					<div class="form-group">
						<label for="weightRemoval{{removal.id}}">{{removal.provider.name}} (Enlèvement)</label>
						<input type="number" name='weightRemoval{{removal.id}}' class="form-control" id="weight" aria-describedby="poids" value="0">
					</div>
				{% endfor %}
				{% for delivery in pLine.deliverys %}
					<div class="form-group">
						<label for="weightDelivery{{delivery.id}}">{{delivery.recycler.name}} (Livraison)</label>
						<input type="number" name='weightDelivery{{delivery.id}}' class="form-control" id="weight" aria-describedby="poids" value="0">
					</div>
				{% endfor %}
				<small class="form-text text-muted">Laissez le poids à 0 si l'enlèvement ou la livraison n'a pas eu lieu. La demande retrouvera l'état "A faire".</small>
			</div>
			<hr/>
		</div>
	</div>
	<hr/>
	<div class="row py-2">
		<div class='col-3'>
			<div class="d-grid">
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Fermer</button>
			</div>
		</div>
		<div class='col-6'></div>
		<div class='col-3'>
			<div class="d-grid">
				<button type="submit" class="btn btn-success" data-spinner-type='1'>Valider</button>
			</div>
		</div>
	</div>
</form>