<div>
	<div class='row'>
		<div class='col-2 py-2'>
			<div class='border border-dark rounded p-0' style='height:5vh'>
				<h1 class='m-0 p-2 text-center'>
					<i class="fa-solid fa-calendar-days pr-2"></i>Planning</h1>
			</div>
		</div>
		{% if 'now' | date('W') != (pWeek.number) or 'now' | date('Y') != pWeek.year %}
			{% include 'volunteer/planning/currentWeekButton.html.twig' %}
		{% endif %}
	</div>
	<hr/>
	<div class='table-title'>
		<div class='row row-cols-3 h-100'>
			<div class='col-3 position-relative h-100'>
				<button class='btn btn-secondary h-75 position-absolute top-50 start-0 translate-middle-y ajax-link-action pt-1' style="--bs-btn-font-size: 1.5vh;" data-bs-toggle='tooltip' data-bs-title='Semaine précédente' action='{{path('app_volunteer_week_change',{oldMonday:pWeek.mondayDate|date('m-d-Y'),action:'previous'})}}' data-target-spinner='body-interface'>
					<i class="fa-solid fa-arrow-left"></i>
					Précédent
				</button>
			</div>
			<div class='col-6 text-center pt-1'>Semaine
				{{pWeek.number}}
				du lundi
				{{pWeek.mondayDate|date('d/m')}}
				au vendredi
				{{pWeek.mondayDate|date_modify('+4 day')|date('d')}}/{{pWeek.mondayDate|date_modify('+4 day')|date('m')}}</div>
			<div class='col-3 position-relative'>
				<button class='btn btn-secondary h-75 position-absolute top-50 end-0 translate-middle-y ajax-link-action pt-1' style="--bs-btn-font-size: 1.5vh;" data-bs-toggle='tooltip' data-bs-title='Semaine suivante' action='{{path('app_volunteer_week_change',{oldMonday:pWeek.mondayDate|date('m-d-Y'),action:'next'})}}' data-target-spinner='body-interface'>
					Suivant
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
	<hr/>
	<div class='table-content'>
		{% for key, linePerDay in linesPerDay %}
			<div class='row'>
				<div class='col-9'>
					<b>{{linePerDay.title}}</b>
				</div>
				<div class='col-3 py-2'>
					<div class="d-grid">
						<button class='btn btn-secondary ajax-link-action' style='font-size:1.2vh' action='{{path('app_volunteer_planning_add_planning_line',{day:key,lineWeekId:pWeek.id})}}' data-target-spinner='dayLines{{key}}' data-spinner-type='2'>Ajouter une ligne</button>
					</div>
				</div>
			</div>
			<hr/>
			<span id='dayLines{{key}}'>
				{% include 'volunteer/planning/dayLines.html.twig' with {linePerDay:linePerDay,key:key,pWeek:pWeek} only %}
			</span>
		{% endfor %}
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="supplierModal" tabindex="-1" aria-labelledby="supplierModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl">
		<div id='modal-content' class="modal-content"></div>
	</div>
</div>
