<html>
	<head></head>
	<body style='font-size:14px'>
		<div style='width:100%;font-size:13px;margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px;'>
			<div style='display:inline-block;width:50%;margin-top:0%;'>
				<img src='{{absolute_url(asset('logo/transparent.png'))}}' style='height:60px'/>
				{% if filter == 0 %}
					<p>16 rue des Entrepreneurs</p>
					<p>44120 Vertou - 06 75 67 98 02</p>
					<p>N° Réservé bénévoles: 06 78 67 99 22</p>
					<p>Mail: logistiquevertou@lespapiersdelespoir.fr</p>
				{% else %}
					<p>Bd du Moulin de la Butte</p>
					<p>44600 Saint-Nazaire - 06 37 27 14 22</p>
					<p>Mail: stnazaire@lespapiersdelespoir.fr</p>
				{% endif %}
				
			</div>
			<div style='display:inline-block;width:45%;vertical-align: top;'>
				<p>Bon d'enlèvement / Livraison Semaine
					{{pLine.planningWeek.number}}</p>
				<p>{{pLine.dayName}} {{pLine.day is odd?'après-midi':'matin'}}:
					{{dayDate|date('d/m/Y')}}
				</p>
				<p>Véhicule:
					{{pLine.vehicle?pLine.vehicle.name:'<i style="color:red">Non renseigné</i>'}}</p>
				<p>
					Equipe de Bénévoles:<br/>
					{{pLine.driver?pLine.driver.firstName~' '~pLine.driver.lastName:'<i style="color:red">Conducteur non renseigné</i>'}}<br/>
					{% if pLine.companions %}
						{% for companion in pLine.companions %}
							{{companion.firstName}}
							{{companion.lastName}}
							<br/>
						{% endfor %}
					{% endif %}
				</p>
			</div>
		</div>
		<table style='width:100%;border: 1px solid;border-collapse: collapse;margin-top:0px;padding-top:0px;margin-bottom:0px;padding-bottom:0px;'>
			<tr style='border: 1px solid;'>
				<td style='width:50%;border: 1px solid;'>
					Coordonnées
				</td>
				<td style='width:30%;text-align:center;border: 1px solid;'>
					Bacs et instructions
				</td>
				<td style='width:20%;text-align:center;border: 1px solid;'>
					Poids*
				</td>
			</tr>
			{% for demand in pLine.removals %}
				<tr style='border: 1px solid;'>
					<td style='border: 1px solid;padding:5px'>
						<b>{{demand.provider.name}}
							(Enlèvement)</b>
						<br/>
						{{demand.provider.address}}
						<br/>
						{{demand.provider.zipCode}}
						<b>{{demand.provider.city}}</b>
						{% if demand.provider.removalContactPhone %}
							<br/>
							Contact 1:
							{{demand.provider.removalContactPhone}}
							{{demand.provider.removalContactName}}
						{% endif %}
						{% if demand.provider.removalContactPhoneTwo %}
							<br/>
							Contact 2:
							{{demand.provider.removalContactPhoneTwo}}
							{{demand.provider.removalContactNameTwo}}
						{% endif %}
						{% if demand.provider.certificateContactMail %}
							<br/>
							Destruction:
							{{demand.provider.certificateContactMail}}
						{% endif %}
						{% if demand.provider.isExistPlan %}
							<br/>
							<i style="color:green">Plan disponible</i>
						{% endif %}
					</td>
					<td style='padding:5px;'>
						{{demand.comment|nl2br}}
					</td>
					<td style='border: 1px solid;'></td>
				</tr>
			{% endfor %}
			{% for demand in pLine.deliverys %}
				<tr style='border: 1px solid;'>
					<td style='border: 1px solid;width:400px;padding:5px'>
						<b>{{demand.recycler.name}}
							(Livraison)</b>
						<br/>
						{{demand.recycler.address}}
						{{demand.recycler.zipCode}}
						{{demand.recycler.city}}
						{% if demand.recycler.contactTelOne %}
							<br/>
							Contact 1:
							{{demand.recycler.contactTelOne}}
						{% endif %}
						{% if demand.recycler.contactTelTwo %}
							<br/>
							Contact 2:
							{{demand.recycler.contactTelTwo}}
						{% endif %}
					</td>
					<td style='padding:5px;'>
						{{demand.comment|nl2br}}
					</td>
					<td style='border: 1px solid;width:50%;'></td>
					<td style='border: 1px solid;width:50%'></td>
				</tr>
			{% endfor %}
		</table>
		<i>* en Kg pour vous aider une estimation 1 bac de brochure : 300 kg – autres 200 kg</i>
		<table style='width:100%;border: 1px solid;border-collapse: collapse;margin-top:1%;padding-top:0px;margin-bottom:0px;padding-bottom:0px;'>
			<tr style='border: 1px solid;'>
				<td style='border: 1px solid;padding:5px;width:25%;'></td>
				<td style='border: 1px solid;padding:5px;width:15%;'>Lundi</td>
				<td style='border: 1px solid;padding:5px;width:15%;'>Mardi</td>
				<td style='border: 1px solid;padding:5px;width:15%;'>Mercredi</td>
				<td style='border: 1px solid;padding:5px;width:15%;'>Jeudi</td>
				<td style='border: 1px solid;padding:5px;width:15%;'>Vendredi</td>
			</tr>
			<tr style='border: 1px solid;'>
				<td style='border: 1px solid;padding:5px'>{{pLine.driver?pLine.driver.firstName~' '~pLine.driver.lastName:'<i style="color:red">Conducteur NR</i>'}}</td>
				<td style='border: 1px solid;padding:5px'></td>
				<td style='border: 1px solid;padding:5px'></td>
				<td style='border: 1px solid;padding:5px'></td>
				<td style='border: 1px solid;padding:5px'></td>
				<td style='border: 1px solid;padding:5px'></td>
			</tr>
			{% if pLine.companions %}
				{% for companion in pLine.companions %}
					<tr style='border: 1px solid;'>
						<td style='border: 1px solid;padding:5px'>{{companion.firstName}}
							{{companion.lastName}}</td>
						<td style='border: 1px solid;padding:5px'></td>
						<td style='border: 1px solid;padding:5px'></td>
						<td style='border: 1px solid;padding:5px'></td>
						<td style='border: 1px solid;padding:5px'></td>
						<td style='border: 1px solid;padding:5px'></td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</body>
</html>
