<div class='table-content' style='cursor:pointer'>
	{% for delivery in pagination %}
		<div class='row table-content-line'>
			<div class='col-11'>
				<div class='row table-content-cell'>
					<div class='col-3 ajax-link-action' action="{{path('app_volunteer_delivery_getform',{'id':delivery.id})}}" data-target-spinner='modal-content' data-spinner-type='2' data-bs-toggle="modal" data-bs-target="#supplierModal">

						<b>{{delivery.dateRequest|date('d/m/Y')}}</b>
						<span class='table-content-line-edit justify-content-right'>
							<i class="fa-solid fa-pen-to-square"></i>
						</span>
						<br/>
						{% if delivery.state == 0 %}
							<i class="fa-solid fa-calendar text-danger text-3 mt-3 ajax-link-action" action="{{path('app_volunteer_provider_delete',{'id':delivery.id,'page':page,'search':search,'filter':filter})}}" data-target-spinner='modal-content' data-spinner-type='2'></i>
							Non planifié
						{% elseif delivery.state == 1 %}
							<i class="fa-solid fa-calendar-plus text-primary text-3 mt-3 ajax-link-action" action="{{path('app_volunteer_provider_delete',{'id':delivery.id,'page':page,'search':search,'filter':filter})}}" data-target-spinner='modal-content' data-spinner-type='2'></i>
							Planifié le {{delivery.PlanifiedDate|date('d/m/Y')}}
						{% elseif delivery.state == 2 %}
							<i class="fa-solid fa-calendar-check text-success text-3 mt-3 ajax-link-action" action="{{path('app_volunteer_provider_delete',{'id':delivery.id,'page':page,'search':search,'filter':filter})}}" data-target-spinner='modal-content' data-spinner-type='2'></i>
							Réalisé le {{delivery.PlanifiedDate|date('d/m/Y')}}
						{% endif %}
					</div>
					<div class='col-3 ajax-link-action' style='height:30vh;overflow-y:hidden' action="{{path('app_volunteer_delivery_getform',{'id':delivery.id})}}" data-target-spinner='modal-content' data-spinner-type='2' data-bs-toggle="modal" data-bs-target="#supplierModal">
						{{delivery.comment|nl2br}}
						<span class='table-content-line-edit justify-content-right'>
							<i class="fa-solid fa-pen-to-square"></i>
						</span>
					</div>
					<div class='col-3 ajax-link-action' action="{{path('app_volunteer_provider_getform',{'type':'comment','id':delivery.id})}}" data-target-spinner='modal-content' data-spinner-type='2' data-bs-toggle="modal" data-bs-target="#deliveryModal">
						<b>{{delivery.recycler.name}}</b>
					</div>
					<div class='col-3'></div>
				</div>
			</div>
			<div class='col-1 text-center'>
				<i class="fa-solid fa-trash text-danger text-3 mt-3 ajax-link-action" action="{{path('app_volunteer_delivery_delete',{'id':delivery.id,'page':page,'search':search,'filter':filter})}}" data-target-spinner='modal-content' data-spinner-type='2' data-confirm="Confirmer la suppression de la livraison ?"></i>
			</div>
		</div>
		<hr/>
	{% endfor %}
</div>

<div class='row table-bottom pt-1' style='height:5vh'>
	<div class="precedent col-1 text-center">
		{% if (page!=1) %}
			<a href='{{path('app_volunteer_pagination_left',{'type':'page','search':search,'filter':filter,'page':page,'className':'delivery'})}}'>
				<i class="fa-solid fa-arrow-left text-4"></i>
			</a>
		{% endif %}
	</div>
	<div class="navigation col-2">
		{% set last = ((pagination.getTotalItemCount/10)+1)|number_format(0) %}
		{% if pagination.getTotalItemCount <= 10 %}
			{% set last = 1 %}
		{% endif %}
		<select class='form-control border border-dark ajax-filter-action'>
			{% for i in 1..last %}
				<option style='height:3vh;font-size:1vh' value='1' data-target-spinner='table-content' action='{{path('app_volunteer_delivery_search',{'type':'page','search':search,'filter':filter,'page':i})}}' {% if page == i %} selected {% endif %}>
					Page
					{{i}}/{{last}}
				</option>
			{% endfor %}
		</select>
	</div>
	<div class="suivant col-1 text-center">
		{% if (page!=last) %}
			<a href='{{path('app_volunteer_pagination_right',{'type':'page','search':search,'filter':filter,'page':page,'className':'delivery','last':last})}}'>
				<i class="fa-solid fa-arrow-right text-4"></i>
			</a>
		{% endif %}
	</div>
	<div class="count col-8 text-2" style='text-align:right'>
		<b>{{pagination.getTotalItemCount}}
			résultats</b>
	</div>
</div>
