        {% if lastRemovals is not empty %}
        <h5 class='mb-3 mt-2 px-3 text-start'>Derniers enlèvements</h5>
        <div class="accordion row justify-content-center" id="accordionRemovalHistory">
            {% for otherRemoval in lastRemovals %}
            <div class="accordion-item col-11 px-0">
                <h2 class="accordion-header" id="heading{{otherRemoval.id}}">
                    <button class="accordion-button collapsed px-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{otherRemoval.id}}" aria-expanded="false" aria-controls="collapse{{otherRemoval.id}}">
                        <div class='col-4 text-center'>{{ otherRemoval.dateRequest|date('d/m/Y') }}</div>
                        <div class='col-4 text-center'>{{ otherRemoval.weight ? "#{otherRemoval.weight} kg" : "Poids non défini" }}</div>
                        <div class='col-4 text-center'>
                            {% if otherRemoval.state == 0 %}
                                A faire
                            {% elseif otherRemoval.state == 1 %}
                                Planifiée
                            {% else %}
                                Réalisée
                            {% endif %}
                        </div>
                    </button>
                </h2>
                <div id="collapse{{otherRemoval.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{otherRemoval.id}}" >
                    <div class="table-content-cell accordion-body ajax-link-action" action="{{path('app_volunteer_removal_getform',{'id':otherRemoval.id, 'withReturn':true})}}" data-target-spinner='modal-content' data-spinner-type='2' data-bs-toggle='modal-content' style="cursor: pointer">
                {% if otherRemoval.comment is not empty %}
                        <p class="text-center my-0">{{ otherRemoval.comment }}
                        <span class="table-content-line-edit">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </span>
                        </p>
                {% else %}
                        <p class="text-center my-0" style='color: darkgray'>Pas de commentaires</p>
                {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h6 class='mb-1 mt-3 text-center' style='color: darkgray'>Aucun enlèvement enregistré pour ce fournisseur</h6>
        {% endif %}
        <div class='py-2'></div>